/from_paraview_u_mean_noswirl.csv
/from_paraview_u_mean_noswirl_average_data_to_2d_matplotlib.tsv
/from_paraview_u_mean_swirl.csv
/from_paraview_u_mean_swirl_average_data_to_2d_matplotlib.tsv
/initial.py
